# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Python
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Poetry
poetry.toml

# Environments
.env
.venv/
env/
venv/
ENV/
.envrc

# Testing / Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Type checking
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/
pyrightconfig.json
cython_debug/

# Celery
celerybeat-schedule
celerybeat.pid

# Node (vendor template tooling)
node_modules/
static/node_modules
package-lock.json

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# CSS source maps
static/css/maps/
static/scss/

# Translations
*.mo

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PEP 582
__pypackages__/

# pdm
.pdm.toml
static/images/icons/e4579a2ce603e3506ed28444b1e06619a185142d2c6d936ff5b2cda810df04cb.png
seed.sql
.claude
cobertura.xml
